@font-face {
    font-family: "Lato";
    src: url(fonts/lato/Lato-Regular.ttf);
}

#background {
    width: auto;
    height: 964px;
    background: content-box linear-gradient(45deg, magenta, skyblue);
    display: flex;
    place-content: flex-start flex-start;
    flex-flow: row nowrap;
}

#nav {
    width: auto;
    height: auto;
    display: flex;
    border: solid black;
    font-family: "Lato";
    font-size: 12px;
    place-content: center flex-start;
    flex-flow: column wrap;
    padding: 10px
}

.nav.logo {
    padding: 10px;
}

.buttonStyle.push {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid black;
    border-radius: 5px;
    color: white;
    font-family: "Lato";
    margin-top: auto;
}

#gridContainer {
    width: auto;
    height: auto;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
}

#container {
    width: 480px;
    height: 480px;
    padding: 10px;
    flex-flow: row wrap;
    display: flex;
    place-content: flex-start flex-start;
}

.square {
    width: 28px;
    height: 28px;
    border: solid pink;
    border-width: 1px;
    transition: all 0.07s;
}

.squareOn {
    width: 28px;
    height: 28px;
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color: rgba(29, 227, 52, 0.613);
}